@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  color: #505962; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

.topbar {
  padding: 1rem;
  min-height: 3rem;
  font-size: 0.9rem;
  transition: all 0.5s;
  background-color: black;
  color: rgba(255, 255, 255, 0.6); }
  .topbar .contact-info i {
    color: #f83600; }
  .topbar .contact-info a {
    text-decoration: none;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s; }
    .topbar .contact-info a:hover {
      color: #ffffff; }
  .topbar .social-links .followus-text {
    color: #f36b0a; }
  .topbar .social-links a {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 0.9rem;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5); }
    .topbar .social-links a:not(:last-child) {
      padding-right: 0.3rem; }
    .topbar .social-links a:hover {
      color: #ffffff; }

.hero {
  width: 100%;
  max-width: 100%;
  height: 75vh;
  background: #8e2de2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(105deg, rgba(141, 45, 226, 0.32), rgba(75, 0, 224, 0.4)), url(../img/10-2.JPG);
  background: linear-gradient(105deg, rgba(141, 45, 226, 0.32), rgba(75, 0, 224, 0.4)), url(../img/10-2.JPG);
  background-size: cover;
  background-position: center center;
  position: relative; }
  .hero-img {
    max-height: 100%; }
  .hero-text {
    color: #fff;
    text-transform: uppercase; }
    .hero-text h1 {
      font-size: 2.8rem;
      letter-spacing: 0.2rem;
      font-weight: 700;
      text-shadow: 0.1rem 0.2rem 0.7rem black;
      padding-bottom: 0.5rem; }
    .hero-text h3 {
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      text-shadow: 0.1rem 0.2rem 0.5rem black;
      padding-bottom: 0.8rem; }
    .hero-text h5 {
      text-transform: capitalize;
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: 0.1rem;
      text-shadow: 0.1rem 0.1rem 0.5rem black;
      padding-bottom: 1rem; }
    .hero-text .btn-lg {
      background-image: linear-gradient(to right bottom, #f83600, #fe8c00);
      background-image: -webkit-linear-gradient(to right bottom, #f83600, #fe8c00);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-width: medium;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.5px;
      padding: 0.6rem 1.3rem;
      transition: 0.5s;
      color: #fff; }
  .hero .btn-get-started a,
  .hero .btn-get-started a:link {
    text-decoration: none;
    text-transform: uppercase; }
  .hero .btn-get-started:hover {
    text-decoration: none;
    background-size: 250%;
    transition: 0.5s; }

.hero:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOTAwJyBoZWlnaHQ9JzE1MCcgdmlld0JveD0nMCAwIDE5MDAgMTUwJyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSdub25lJz48cGF0aCBkPSdNMCwyNS43QzI0My40LDg0LDU5Ni43LDE1MCw5NTAsMTUwYzM1My4zLDAsNzA2LjYtNjYsOTUwLTEyNC4zVjE1MEgwVjI1Ljd6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+);
  background-size: 100% 100%;
  background-position: center;
  bottom: -1px;
  content: "";
  height: 5rem;
  left: 0;
  position: absolute;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 #ffffff; }

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.heading-underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #884beb;
  background-image: linear-gradient(90deg, #4776E6, #884beb 90%);
  margin: 0 auto 2rem; }

.testimonials {
  background-color: #e9ecef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }
  .testimonials .jumbotron {
    margin-top: 5rem; }
  .testimonials-image {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center; }
  .testimonials blockquote i {
    color: #7c3be6; }
  .testimonials hr {
    color: #7c3be6; }

.clients-wrap {
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec; }

.clients .client-logo {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  background: #fff;
  height: 100px; }
  .clients .client-logo img {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    height: 2.5rem;
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%); }
  .clients .client-logo:hover img {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }

.portfolio .portfolio-item {
  margin-bottom: 2rem; }

.portfolio .portfolio-filters {
  text-decoration: none;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  /* display: inline-block; */
  display: inline-flex; }
  .portfolio .portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif; }
    .portfolio .portfolio-filters li:hover, .portfolio .portfolio-filters li.filter-active {
      color: #f83600; }

.services .service-text blockquote i {
  color: #7c3be6; }

.services .service-heading {
  color: #f83600;
  margin-bottom: 1rem;
  position: relative; }
  .services .service-heading::before {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 3rem;
    height: 0.2rem;
    background-color: #884beb;
    background-image: linear-gradient(90deg, #4776E6, #884beb 90%); }

.services .service-image-row {
  background-color: #e9ecef;
  padding: 2rem; }
  .services .service-image-row span {
    color: rgba(16, 75, 134, 0.15);
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 9rem;
    z-index: 13; }
  .services .service-image-row .service-image-left img {
    box-shadow: -1rem -1rem 0px 0px #f83600; }
  .services .service-image-row .service-image-right img {
    box-shadow: 1rem 1rem 0px 0px #f83600; }

.services .key-engagements {
  padding-top: 2rem;
  padding-left: 1rem;
  color: #f83600; }

.services11:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOTAwJyBoZWlnaHQ9JzE1MCcgdmlld0JveD0nMCAwIDE5MDAgMTUwJyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSdub25lJz48cGF0aCBkPSdNMCwyNS43QzI0My40LDg0LDU5Ni43LDE1MCw5NTAsMTUwYzM1My4zLDAsNzA2LjYtNjYsOTUwLTEyNC4zVjE1MEgwVjI1Ljd6JyBmaWxsPScjZmZmZmZmJy8+PC9zdmc+);
  bottom: -1px;
  content: "";
  height: 5rem;
  left: 0;
  position: absolute;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 #ffffff; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 0;
  background-color: white;
  transition: all 0.5s;
  color: #ffffff !important; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
button.navbar-toggler {
  outline: 0 !important;
  border-color: none; }

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem; }
  .navbar-brand img {
    height: 2.5rem; }

.navbar-nav .nav-item {
  padding-right: .7rem; }
  .navbar-nav .nav-item .nav-link {
    color: #004085 !important;
    padding-top: .8rem; }
  .navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .nav-link:hover {
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center; }

.about {
  border-radius: 5px;
  background-color: #1e1e1e; }
  .about h5 {
    color: #f83600; }
  .about .jumbotron {
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.6); }
  .about img {
    border-radius: 5px;
    box-shadow: 2rem 2rem #f83600; }
  .about-image-row {
    display: flex;
    justify-content: center;
    align-items: center; }

.clients .jumbotron {
  background-color: #fff; }

.portfolio .jumbotron {
  background-color: #fff; }

.services .jumbotron {
  background-color: #fff; }

.footer {
  background-color: #1e1e1e; }
  .footer .jumbotron {
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.6); }

.narrow {
  width: 80%;
  margin: 0 auto; }

.section-bg {
  background-color: #f7f7f7; }
