/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 0;

  background-color: white;
  transition: all 0.5s;
  //z-index: 997;
  color: #ffffff !important;
  //width:100%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

button.navbar-toggler {
  outline: 0 !important;
  border-color: none;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  // background: rgba(0,0,0,.6) !important;
  &-brand img {
    height: 2.5rem;
  }
}

// .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
//   color: $secondary-color-2 !important;
// }



 .navbar-nav {
 
  .nav-item {
   padding-right: .7rem;
  
    .nav-link {
      padding-top:.8rem;
      &:hover {
        background: #fe8c00;
        background: -webkit-linear-gradient(
          to right,
          $primary-color-1,
          $primary-color-2
        );
        background: linear-gradient(
          to right,
          $primary-color-1,
          $primary-color-2
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    a .nav-link.active{
      color:$primary-color-1 !important;
    }
  }
}

//landing page
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

//about page

.about {
  border-radius:5px;
  background-color: $black-background;
  h5{

    //color:$primary-color-1;
  }
  .jumbotron{
    background-color:$black-background;
   // color: #e9ecef;
   color:$black-background-font-color;
   
  }
  img{
    border-radius: 5px;
    box-shadow: 2rem 2rem $primary-color-1;
  }
  &-image-row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principles{
   // background-color:rgba($primary-color-1,.9) ;
  // color:white;
    padding:1rem;
    h5{
      color:$primary-color-1;
    }
  }

}

//client section start
.clients
{
  .jumbotron{
    background-color: #fff;
  }
}
//client section end

//about page end

.portfolio
{
  .jumbotron{
    background-color:#fff;;
  }
}

//services
.services
{
  //background-color: #e9ecef;
  .jumbotron{
    background-color: #fff;
  }
}

//footer
.footer{
  background-color: $black-background;   
    color:$black-background-font-color;
  
}
.bottom-footer{
  background-color: $black-background;   
  color:$black-background-font-color;
}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
  float: left;
  width: 25%;
  max-width: 100%; } }
  
  .carousel-multi-item-2 .card img {
  border-radius: 2px; }