// $primary-color-1:#ff9504;
// $primary-color-2:#f36b0a;
// $secondary-color:#7c3be6;

$primary-color-1:#f83600;
$primary-color-2:  #fe8c00;
$secondary-color:#f36b0a;

// $primary-color-1:#f36b0a;
// $primary-color-2:  #f83600;
// $secondary-color:#f36b0a;

$secondary-color-2: #004085;
$secondary-color-3:#7c3be6;
$secondary-color-4:#4d21a2;
$top-footer-background:#1e1e1e;
$bottom-footer-background:#111;
//#111;;
//#1e1e1e;
// #042140;
//$black-background-font-color:#7697A2;
$black-background-font-color:rgba(255, 255, 255, 0.6);;
$grey-background-font-color: #505962;
$light-grey-1:#e9ecef;
$light-grey-2:#f7f7f7;
$light-grey-3:#f2f2f2;

//#7976a2