// $primary-color-1:#ff9504;
// $primary-color-2:#f36b0a;
// $secondary-color:#7c3be6;

$primary-color-1:#f83600;
$primary-color-2:  #fe8c00;
$secondary-color:#f36b0a;

// $primary-color-1:#f36b0a;
// $primary-color-2:  #f83600;
// $secondary-color:#f36b0a;

$secondary-color-2: #004085;
$secondary-color-3:#7c3be6;
$secondary-color-4:#4d21a2;
$black-background:#042c59;
// #042140;
//$black-background-font-color:#7697A2;
$black-background-font-color:rgba(255, 255, 255, 0.6);;
$light-grey-1:#e9ecef
//#7976a2